# Database Connection (Neon Serverless Postgres 16)
DATABASE_URL="postgresql://user:password@ep-cool-site-123456.us-east-2.aws.neon.tech/vrikshvani?sslmode=require"
DIRECT_DATABASE_URL="postgresql://user:password@ep-cool-site-123456.us-east-2.aws.neon.tech/vrikshvani?sslmode=require"

# NextAuth.js Authentication
NEXTAUTH_SECRET="vrikshvani-super-secret-jwt-key-2026"
NEXTAUTH_URL="http://localhost:3000"

# Redis Cache (Upstash Redis)
UPSTASH_REDIS_REST_URL="https://cool-redis-123.upstash.io"
UPSTASH_REDIS_REST_TOKEN="upstash_token_example"
